*{
    font-family: sans-serif;
}
#w_desc{
    width: 100%;
}
#logo_img{
    height: 20rem;
}
@media all and (max-width:900px) {
    #w_desc{
        width: 100%;
    }
    #logo_img{
        height: 12rem;
    }
}