*{
    font-family: sans-serif;
}
#w_desc{
    width: 100%;
}
#logo_img{
    height: 20.2rem;
}
.logo_img_2{
    height: 19.4rem;
}
#img_logo_con{
margin-bottom: -8.3rem;
}
@media all and (max-width:900px) {
    #w_desc{
        width: 100%;
    }
    #logo_img{
        /* height: 15rem; */
        width: 692.1171875px;
height: 445px;
/* top: 750px;
left: 373px; */

    }
    .logo_img_2{
        height: 14rem;
    }
    #img_logo_con{
        margin-bottom: -6.2rem;
        }

}
@media all and (max-width:400px) {
    #w_desc{
        width: 100%;
    }
    #logo_img{
        height: 13.7rem;
    }
    .logo_img_2{
        height: 13.1rem;
    }
    #img_logo_con{
        margin-bottom: -5.7rem;
        }

}