*{
    font-family: sans-serif;
}
#w_desc{
    width: 100%;
}
#logo_img{
    height: 22rem;
}
.logo_img_2{
    height: 21.3rem;
}
#img_logo_con{
margin-bottom: -7.5rem;
}
@media all and (max-width:900px) {
    #w_desc{
        width: 100%;
    }
    #logo_img{
        height: 11.7rem;
    }
    .logo_img_2{
        height: 11.1rem;
    }
    #img_logo_con{
        margin-bottom: -6rem;
        }

}